<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2>final result</h2>
    <h3>Science: {{ science }}</h3>
    <h3>Maths: {{ maths }}</h3>
    <h3>English: {{ english }}</h3>
    <h3>Social Studies: {{ social }}</h3>
    <h3>Total: {{ total }}</h3>             
    <!-- <h3>Average: {{ average }}</h3>
    <h3>Grade: {{ grade }}</h3>
    <h3>Result: {{ result }}</h3> -->

</body>
</html>